In [1]:
#1 Danny Severe

In [2]:
#2 CREATE DATABASE corgirace;

In [3]:
# pip install psycopg2-binary

In [4]:
#3

import pandas as pd
import psycopg2 as psy
import warnings

warnings.filterwarnings("ignore")

conn = psy.connect(database='corgirace', \
                   user='dannysevere', \
                   password='Severedb!', \
                   host='severedb.ct4e9f3blg2v.us-west-1.rds.amazonaws.com', \
                   port='5432')

cursor = conn.cursor()

query = '''CREATE TABLE IF NOT EXISTS CORGI (
            CorgID SERIAL PRIMARY KEY,
            CorgName VARCHAR(30) NOT NULL,
            Breed VARCHAR(5) NOT NULL,
            Gender VARCHAR(2) NOT NULL,
            Weight SMALLINT NOT NULL,
            Age NUMERIC(2, 1) NOT NULL);'''

cursor.execute(query)
conn.commit()

In [5]:
query = '''CREATE TABLE IF NOT EXISTS OUTCOME (
            OutcomeID SERIAL PRIMARY KEY,
            CorgID INT NOT NULL,
            RaceID INT NOT NULL,
            RaceTime NUMERIC(4,2)
            );'''

cursor.execute(query)
conn.commit()

In [6]:
query = '''CREATE TABLE IF NOT EXISTS RACE (
            RaceID SERIAL PRIMARY KEY,
            RaceName VARCHAR(50) NOT NULL,
            RaceState CHAR(2),
            RaceDate DATE,
            RaceTemp SMALLINT
            );'''

cursor.execute(query)
conn.commit()

In [7]:
#4

df = pd.read_csv('Documents/python/corgi.csv')

for x in df.index:
    cursor.execute(f'''
    INSERT INTO CORGI (CorgName, Breed, Gender, Weight, Age)
    VALUES ('{df.loc[x]['CorgName']}', '{df.loc[x]['Breed']}', '{df.loc[x]['Gender']}', {df.loc[x]['Weight']}, {df.loc[x]['Age']});''')
    
    conn.commit()

In [8]:
#5

query = '''SELECT *
            FROM CORGI
            ORDER BY CorgName
            LIMIT 10
            ;'''

df = pd.read_sql(query, conn)

print(df)

   corgid                   corgname breed gender  weight  age
0      34  Baroness von Fluffyshanks   Pem     SF      22  4.0
1      84  Baroness von Fluffyshanks   Pem     SF      22  4.0
2     109  Baroness von Fluffyshanks   Pem     SF      22  4.0
3      59  Baroness von Fluffyshanks   Pem     SF      22  4.0
4       9  Baroness von Fluffyshanks   Pem     SF      22  4.0
5      26                    Brookie   Pem      F      21  3.5
6      51                    Brookie   Pem      F      21  3.5
7     101                    Brookie   Pem      F      21  3.5
8       1                    Brookie   Pem      F      21  3.5
9      76                    Brookie   Pem      F      21  3.5

In [9]:
#6

df = pd.read_csv('Documents/python/race.csv')

for x in df.index:
    cursor.execute(f'''
    INSERT INTO RACE (RaceName, RaceState, RaceDate, RaceTemp)
    VALUES ('{df.loc[x]['RaceName']}', '{df.loc[x]['RaceState']}', '{df.loc[x]['RaceDate']}', {df.loc[x]['RaceTemp']});''')
    
    conn.commit()

In [10]:
#7

query = '''SELECT *
            FROM RACE
            ORDER BY RaceDate
            LIMIT 10
            ;'''

df = pd.read_sql(query, conn)

print(df)

   raceid         racename racestate    racedate  racetemp
0      12   Del Mar Trophy        CA  2018-06-03        80
1       1   Del Mar Trophy        CA  2018-06-03        80
2       2   Memorial Derby        WA  2018-06-17        77
3      13   Memorial Derby        WA  2018-06-17        77
4       3      Dixie Derby        UT  2018-06-24        95
5      14      Dixie Derby        UT  2018-06-24        95
6      15     Missions Cup        CA  2018-06-30        73
7       4     Missions Cup        CA  2018-06-30        73
8       5  Borderside Dash        WA  2018-07-21        74
9      16  Borderside Dash        WA  2018-07-21        74

In [11]:
#8

df = pd.read_csv('Documents/python/outcome.csv')

for x in df.index:
    cursor.execute(f'''
    INSERT INTO OUTCOME (CorgID, RaceID, RaceTime)
    VALUES ({df.loc[x]['CorgID']}, {df.loc[x]['RaceID']}, {df.loc[x]['RaceTime']});''')
    
    conn.commit()

In [14]:
#9

query = '''SELECT *
            FROM OUTCOME
            ORDER BY RaceTime
            LIMIT 10
            ;'''

df = pd.read_sql(query, conn)

print(df)

   outcomeid  corgid  raceid  racetime
0        116      14      10     40.07
1        250      14      10     40.07
2        123       4      11     40.10
3        257       4      11     40.10
4         45      21       4     40.73
5        179      21       4     40.73
6         28       9       3     40.74
7        162       9       3     40.74
8        161       8       3     40.94
9         27       8       3     40.94